@font-face {
  font-weight: normal;
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-narrow-v11-cyrillic_latin_cyrillic-ext_latin-ext-regular.woff2') format('woff2'),
       url('../fonts/pt-sans-narrow-v11-cyrillic_latin_cyrillic-ext_latin-ext-regular.woff') format('woff');
}

@font-face {
  font-weight: bold;
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-narrow-v11-cyrillic_latin_cyrillic-ext_latin-ext-700.woff2') format('woff2'),
       url('../fonts/pt-sans-narrow-v11-cyrillic_latin_cyrillic-ext_latin-ext-700.woff') format('woff');
}
